*{/*Etiqueta de selector globlal (agarra todos los elementos)*/
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
}

/*encabezado*/
header{
    margin: auto;
    background-color: rgb(61, 61, 61);
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}

header h1{
    text-align: center;
    color: aliceblue;
}



/*=============================================Productos del carrito=============================================*/

/*-----------Todo el carrito--------*/
.carrito{
        max-width: 1000px;
        padding: 10px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        /*oculto lo que puede quedar fuera del contenedor, borrar?*/
        contain: paint;
        background-color: rgb(180, 180, 180);
        gap: 40px;
}
/*---------------------------------*/


/*--------------Productos----------------*/
.carrito .carrito-items{
    display: grid;
    width: 100%;
}

.carrito .carrito-items .carrito-item{
    padding: 20px 10px;
    margin-bottom: 50px;
    background-color: gainsboro;
    border-radius: 5px;
    /*deberia ponerle un max-height?*/
    display: flex;
}

.carrito .carrito-items .carrito-item img{
    width: 80px;
    border-radius: .25rem;
}
/*---------------------------------------*/


/*---------------Cantidad-----------------*/
.carrito .carrito-items .carrito-item .selector-cantidad{
    display: grid;
    padding: 10px;
    text-align: center;
}


.carrito .carrito-items .carrito-item .selector-cantidad i{
    cursor: pointer;
}

.carrito .carrito-items .carrito-item .selector-cantidad .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    width: 10px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
/*-------------------------------------------*/


/*--------------------Detalles del producto----------------------*/
.carrito .carrito-items .carrito-item .item-producto{
    padding: 5px 20px 5px 5px;
    display: grid;
}

.carrito .carrito-items .carrito-item .item-producto .producto-titulo{
    text-transform: uppercase;
    font-weight: bold;
}

.carrito .carrito-items .carrito-item .item-producto .producto-detalle{
    width: 100%;
}
/*-----------------------------------------------------------------*/




/*------------------------------Precio del producto + eliminar producto------------------------------*/
.carrito .carrito-items .carrito-item .item-precio{
    text-align: center;
    gap: 1rem;
    display: grid;
}

.carrito .carrito-items .carrito-item .item-precio .precio{
    color:rgb(87, 138, 74);
    padding-right: .2rem;
    font-weight: bold;
    text-align: end;
}

.carrito .carrito-items .carrito-item .item-precio .btn-eliminar{
    color: red;
    background-color: transparent;
    border: 2px red solid;
    font-weight: bold;
    cursor: pointer;
    padding: 2.5px 7.5px;
    border-radius: 5px;
    height: 75%;
}
/*---------------------------------------------------------------------------------------------------*/



/*=============================================Pago=============================================*/

/*--------------Continuar al pago----------------*/
.carrito .contenedor-pago{
    background-color: rgb(143, 142, 142);
    padding: 20px 15px;
    max-height: 200px;
    position: sticky;
    border-radius: 2.5px;
    max-width: 250px;
}
/*------------------------------------------------*/


/*---------------Detalles de pago-----------------*/
.carrito .contenedor-pago .total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.carrito .contenedor-pago .total .carrito-precio-total{
    color: white;
}

.carrito .contenedor-pago .pago{
    margin-top: 1rem;
    gap: 1rem;
    display: grid;
}
/*-----------------------------------------------*/


/*------------------Boton pagar------------------*/
.carrito .contenedor-pago .pago .btn-pagar{
    border: none;
    border-radius: 2.5px;
    background-color: rgb(46, 138, 46);
    color: white;
    padding: 4px 0;
    cursor: pointer;
}
/*-----------------------------------------------*/

footer{
    margin: auto;
    text-align: center;
    background-color: rgb(61, 61, 61);
    padding: 1.5rem;
    margin-top: 2.5rem;
}

footer a{
    background-color: white;
}

/*Queries*/
@media all and (max-width: 600px) {
    /* We tell both sidebars to share a row */
    .carrito {flex-direction: column;}
  }
